WEB0_APP=./php-info
WEB0_APACHE_SITES=./apache2/php

WEB1_PHP=7.2
WEB1_APP=./php-info
WEB1_APACHE_SITES=./apache2/php
WEB1_PORT=80

WEB2_PHP=7.2
WEB2_APP=./php-info
WEB2_APACHE_SITES=./apache2/laravel
WEB2_PORT=80

WEB3_PHP=7.4
WEB3_APP=./php-info
WEB3_APACHE_SITES=./apache2/laravel
WEB3_PORT=80

WEB4_PHP=8.0
WEB4_APP=./php-info
WEB4_APACHE_SITES=./apache2/php
WEB4_PORT=80

ARTISAN_VERSION=7.4
ARTISAN_APP=./php-info
ARTISAN_APACHE_SITES=./apache2/laravel

EDITOR_APP=./php-info
EDITOR_APACHE_SITES=./apache2/laravel

# https://hub.docker.com/_/mysql
MYSQL_VERSION=5.7
MYSQL_ROOT_PASSWORD=root
MYSQL1_PORT=3306
MYSQL2_PORT=3307
MYSQL3_PORT=3308
DATA_PATH_HOST=./mysql/data

MYSQL_DEV=./__keys
MYSQL_PORT_DEV=3309
MYSQL_TUNNEL_HOST=root@localhost
MYSQL_REMOTE_HOST=localhost

PMA_USER1=homestead
PMA_PASSWORD1=secret
PMA_PORT1=8080
PMA_PORT2=8081
PMA_PORT3=8082
PMA_PORT_DEV=8083

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_SESSION_TOKEN=
